header{
	&#intro{
		background-color: white;
		.brand{
			h1{
				a{
					text-decoration: none;
				}
			}
		}
	}
}

header{ //make sure input texts in sidebars do not push content
  input[type="text"]{
    //max-width: 140px;
  }
  .widgets{
	padding-bottom: 1rem;
	padding-top: 0.5rem;
	#sidebar{
		>ul{
			>li{
				padding-top: 1em;
				//border: 1px solid red;
				border-bottom: none;
			}	
		}
	}
  }
  ul{
		@extend .nav;
		@extend .nav-pills;
		@extend .nav-stacked;
		li{
		  a{
		    @extend .nav-link;
		  }
		}
		>li{
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
	}
}


 