@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "pp-grid";
@import "header";
@import "sidebar";
@import "top-widgets";
@import "accessibility"; 

body{
	background-color: #e0e0e0;
}

.img-responsive{
	max-width: 100%;
	height: auto;
}

.btn-toggle-menu{
 	height: 40px;
} 

input, textarea{
	@extend .form-control; 
	//border 1px solid red;
}
input.submit{
    @extend .btn;
    @extend .btn-primary-outline;
    @extend .btn-sm;
    display: inline;
    float: right;
    max-width: 150px;
}

.card-inverse .card-link, #list-posts article.sticky .card-link, .card-inverse .card-text, #list-posts article.sticky .card-text, #list-posts article.sticky p, #list-posts article.sticky small, .card-inverse .card-subtitle, #list-posts article.sticky .card-subtitle, .card-inverse .card-blockquote .blockquote-footer, #list-posts article.sticky .card-blockquote .blockquote-footer,
.card-inverse .card-header, #list-posts article.sticky .card-header, .card-inverse .card-footer, #list-posts article.sticky .card-footer, .card-inverse .card-title, #list-posts article.sticky .card-title, .card-inverse .card-blockquote, #list-posts article.sticky .card-blockquote,
#list-posts article.sticky a{
  color: black;
}

#wp-header{
	.card-inverse .card-title, .card-inverse .card-text{
		color: white;
	}
}

#list-posts{
	//max-width:672px;
	//max-width:683px;
	article{
		@extend .card;
		//border: 1px solid red;
		h2, h1{
			&.card-title{
				@extend h4;
				a:hover{
					text-decoration: none;
				}
			}
		}
		.card-img-overlay{
			max-height: 130px;
		}
		img,.wp-caption{
			@extend .img-responsive;
			//max-width: 150px;
		}
		.wp-caption-text{
			@extend small;
		}
		blockquote{
			font-style: italic;
			margin-left: 2em;
			margin-right: 2em;
			quotes: "\201C""\201D""\2018""\2019";
		}
		blockquote:before {
		  color: #ccc;
		  content: open-quote;
		  font-size: 4em;
		  line-height: 0.1em;
		  margin-right: 0.25em;
		  vertical-align: -0.4em;
		}
		blockquote:after {
		  color: #ccc;
		  content: close-quote;
		  font-size: 4em;
		  line-height: 0.1em;
		  margin-left: 0.60em;
		  vertical-align: -0.4em;
		}
		blockquote p {
		  display: inline;
		}
		table{
			tr{
				th, td{
					padding-top: 0.5em;
					padding-bottom: 0.5em;
				}
				th{
					border-bottom: 2px solid gray;
				}
				td{
					border-bottom: 1px solid gray;
				}
			}
			margin-bottom: 1em;
		}
		#navLinkPages{
			border-top: 1px solid gray;
			border-bottom: 1px solid gray;
			margin-bottom: 1rem;
			small{
				font-size: 1rem;
			}
		}
		.list-group-item{
			padding-bottom: 0.2em;
			padding-top: 0.2em;
			&.bottom_numpage{
				border-bottom: 0px solid transparent;
			}
		}
		&.sticky{
			@extend .card-inverse;
			@extend .card-primary;
			a{
				color: black;
			}
			h2.card-title{
				@extend h4;
				a{
					&:hover{
						color: darken($brand-primary,50%) !important;
						text-decoration: none;
					}
				}
			}
			p, small{
				color: black;
			}
			.text-muted{
				color: darken($brand-primary,50%);
			}
			.card-footer{
				background-color: lighten( $brand-primary, 20% );
				border-top: 1px solid $brand-primary;
			}
		}
	}
	li.comment {
		list-style-type: none;
		article{
			@extend .card;
			@extend .card-block;
			.comment-author{
				margin-top: -1.25em;
				margin-left: -1.25em;
				margin-right: -1.25em;
				margin-bottom: 1em;
				@extend .card-header;
			}
		}
	}
	li.pingback {
		list-style-type: none;
		.comment-body{
			@extend .card;
			@extend .card-block;
		}
	}
	#respond{
		@extend .card;
		@extend .card-block;
		form{
			overflow: auto;
		}
	}
}

.card img.wp-post-image{
  //TODO better
 	width: 100%;
 	height: 100%;
}

@media (min-width: 62em){
	img#logo{
		max-width: 100%;
		max-height: 100%;
	}
}
#prev-next{
	margin-top: 1rem;
	margin-bottom: 2rem;
	text-align: center;
}
#skip a{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}	 
#skip a:focus{
	position:static;
	width:auto;
	height:auto;
} 
 /************* wp-core.less */

/* TODO: Find out and style these classes*/
.bypostauthor{color: $brand-primary}
.wp-caption{color: $brand-primary}
.wp-caption-text{color: $brand-primary}
.gallery-caption{color: $brand-primary} 






